<style>
    h1 {text-align: center;
      font-family: arial, sans-serif;}
    p {font-family: arial, sans-serif;
       border-spacing: 10px;
  
  
       width: 90%;
       display: flex;
       padding: 10px;
       margin: 35px;}
    div {text-align: center;}
    </style>
    </head>
    <body style="background-color:bisque;">
    
    
       
    <!--Terms page done by Jovan -->
    
    <h1>Terms and conditions</h1>
    <p><br>1.These general terms and conditions (hereinafter referred to as the "GTC") apply to purchases in the Seller's online store operated at the Internet address www.e-scooters.cz (hereinafter referred to as the "Internet Store") and were prepared in accordance with Act No. 89/2012 Coll., of the Civil Code (hereinafter referred to as "NOZ") and Act No. 634/1992 Coll., on consumer protection, as amended.</br>
    
    
        <br>2.A buyer is a person who, through negotiations in the Internet store, aims to conclude a purchase contract with the Seller or has already concluded a purchase contract with him (hereinafter referred to as the "Buyer"). The buyer can be a consumer or a person other than a consumer.</br>
       
        <br>3.A buyer is a consumer if he is a natural person who acts outside the scope of his business activity or outside the scope of the independent exercise of his profession (hereinafter referred to as the "Buyer - consumer").</br>
       
        <br>4.When concluding and fulfilling the purchase contract, the seller acts as part of his business or other business activity.</br>
       
        <br>5.Provisions deviating from the General Terms and Conditions can be negotiated in the purchase contract. Deviating provisions in the purchase contract take precedence over the provisions of the General Terms and Conditions.</br>
       
        <br>6.The provisions of the GTC are an integral part of the purchase contract. The purchase contract and terms and conditions are drawn up in the Czech language. The purchase contract can be concluded in the Czech language.</br>
       
        <br>7.The seller can change or supplement the wording of the GTC. This provision does not affect the rights and obligations arising during the period of validity of the previous version of the General Terms and Conditions.</br>
       
        <br>8.The shop is the establishment of AdveSt s.r.o. for the sale of goods at the address Voskovcova 1034/20, 152 00 Prague 5 - Hlubočepy (e.g. sale of electric scooters, electric scooters, electric motorcycles, etc.) (hereinafter referred to as the "Store").</br>
       
        <br>9.In the Online Store, it is possible to conclude a purchase contract only in the Czech language.</br>
    
    
    
    
    </body>
    </html>
    