<style>
   
    h1 {text-align: center;
        font-family: arial, sans-serif;}
    h2 {text-align: left;
        font-family: arial, sans-serif;
        border-collapse: separate;
        border-spacing:  10px;
        text-decoration: underline;
        display: flex;
        padding: 10px;
        margin: 35px;}
    p {font-family: arial, sans-serif;
       border-spacing: 10px;
  
  
       width: 90%;
       display: flex;
       padding: 10px;
       margin: 35px;}
   
    </style>
    </head>
    <body style="background-color:aqua;">
   
   <!--Sales page done by Jovan -->
       
   
   
    <h1>Terms of Sale</h1>
    <h2><br><strong>WARRANTIES</strong></h2>
      <p><br>-  Except as expressly set forth in this Agreement, the Parties acknowledge and agree that the
        Goods are provided as is. </br>
   
   
        <br>- Except for the express warranties set forth herein, neither party makes any representations or
        grants any warranties,<br> express or implied, either in fact or by operation of law, by statute or
        otherwise, and each party specifically disclaims<br> any other warranties, whether written or oral,
        or express or implied, including any warranty of quality, merchantability,<br> or fitness for a
        particular use or purpose or any warranty as to the validity of any patents or the noninfringement of<br> any intellectual property rights of third parties.</p>
    <h2><br><strong>INSPECTION</strong></h2>  
        <p><br>-  Hereby, the Customer acknowledges that it has relied solely on the investigations,
          examinations, and inspections that the<br> Customer has chosen to make and that the Seller has
          afforded the Customer the opportunity for full and complete <br>investigations, examinations, and
          inspections.</br></p>
    <h2><br><strong>RISK OF LOSS AND TITLE</strong></h2>    
        <p><br>-  The risk of loss or damage for the goods will be on the Seller until the goods pass upon delivery
          to the Customer or its designee</br>
        <br>-  The Title of the goods will also remain with the Seller until the goods pass upon delivery to
          the Customer or its designee.</p>
    <h2><br><strong>DELAY OR FAILURE TO PERFORM AND FORCE MAJEURE</strong></h2>
        <p><br>-  Under no circumstances will the Seller be held liable to the Customer for any delay that may
      occur, non-delivery or an arising<br> fault of this Agreement that may be due to any labour dispute,
      shortage in transportation, delay or shortage of materials to<br> produce the Goods, fires, accidents,
      Acts of God, or any other causes outside Seller's control. The Seller will notify the Customer<br>
      immediately upon realization that it will not be able to deliver the Goods as promised. Upon
      such notice, either Party may<br> terminate this Agreement.</p>
      <h2><br><strong>TERMINATION</strong></h2>
          <p><br>-  This Agreement may be terminated by either party or both Parties at any instant provided that
            the terminating party provides a written notice of termination ________________ days in
            advance.
            </br></p>
   
    </body>
    </html>
  